# Copyright (C) 2026 Simson L. Garfinkel. All Rights Reserved.

.DS_Store
.pytest_cache/
.ruff_cache/
.tools/
.venv/
*.egg-info/
__pycache__/
*.py[cod]
.coverage
htmlcov/
build/
dist/
.tmp
data/
validation/samconfig.toml
.aws-sam/
/ocr-text/
*.p12
*.cer
